.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form1 {
  border-radius: 10px;
  background-color: bisque;
  padding: 5px;
}

.container {
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
